.container {
  max-width: 1400px;
  margin: auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.task-container {
  display: flex;
  gap: 10px;
}

.task-column {
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 8px;
}
