<div class="">
  <div class="header">
    <div class="conteiner d-flex justify-content-between">
      <div class="">
        <h2>Todos</h2>
      </div>
      <div class="">
        <button class="new-task-btn" (click)="showDialog()" label="Show">
          Yeni
        </button>
      </div>
    </div>
    <p-dialog [(visible)]="visible" [modal]="true" [style]="{ width: '25rem' }">
      <ng-template #header>
        <div class="inline-flex items-center justify-center gap-2">
          <span class="font-bold whitespace-nowrap">Todos </span>
        </div>
      </ng-template>
      <div class="flex items-center gap-4 mb-4">
        <label for="name" class="font-semibold w-24 mr-3"> Adı: </label>
        <input pInputText id="name" class="flex-auto" autocomplete="off" />
      </div>
      <div class="flex items-center gap-4 mb-8">
        <label for="text" class="font-semibold w-24">İçeriği:</label>
        <textarea
          rows="5"
          cols="30"
          pTextarea
          formControlName="desctiption"
        ></textarea>
      </div>
      <ng-template #footer>
        <p-button
          label="İptal"
          [text]="true"
          severity="secondary"
          (click)="visible = false"
        />
        <p-button
          label="Kaydet"
          [outlined]="true"
          severity="secondary"
          (click)="visible = false"
        />
      </ng-template>
    </p-dialog>
  </div>

  <div class="task-container">
    <div class="task-column">
      <todo></todo>
      <in-progress></in-progress>
      <done></done>
    </div>
  </div>
</div>
