@if(todoItem){
<div class="flex border border-stone-300 shadow-lg rounded-md bg-white">
  @if(todoItem.status != todoStatusEnum.TODO){
  <div
    class="w-8 border-r flex items-center justify-center"
    (click)="todoStatuUpdateHandler('Down')"
  >
    <i class="pi pi-angle-left"></i>
  </div>
  }
  <div class="p-3 flex-1">
    <div class="header flex justify-between">
      <div class="flex-1">{{ todoItem.title }}</div>
      <div class="flex gap-2 justify-end">
        <i class="pi pi-pencil" (click)="addTodoHandle()"></i>
        <i class="pi pi-trash" (click)="deleteTodo()"></i>
      </div>
    </div>
    <div class="content">
      <p
        class="line-clamp-1 truncate text-sm text-ellipsis"
        [pTooltip]="todoItem.content"
      >
        {{ todoItem.content }}
      </p>
    </div>
    <div class="date flex justify-between mt-2">
      <div class="start-date text-xs opacity-60">
        {{ todoItem.creationDate }}
      </div>
      <div class="deadline text-xs opacity-60">{{ todoItem.endDate }}</div>
    </div>
  </div>
  @if(todoItem.status != todoStatusEnum.DONE){
  <div
    class="w-8 border-l flex items-center justify-center"
    (click)="todoStatuUpdateHandler('Up')"
  >
    <i class="pi pi-angle-right"></i>
  </div>
  }
</div>
}
