<div class="w-full p-6">
  <div class="">
    <h2>Todos</h2>
  </div>
  <div class="w-full flex gap-6 border p-6 rounded-md justify-center">
    <!-- ayrı component yap  todo cartları orada çağır-->

    <div
      class="rounded-md flex flex-col gap-2 p-3 h-[300px] w-[30%] bg-stone-200 overflow-y-auto"
    >
      <div class="p-2">
        <!--başlıklar loookupdan gelicek pipe yazabilirsin( label dönen)-->
        <h3 class="text-center font-semibold">Başlamadım</h3>
      </div>
      <app-todo-card />
      <app-todo-card />
    </div>
    <div
      class="rounded-md flex flex-col gap-2 p-3 h-[300px] w-[30%] bg-orange-200 overflow-y-auto"
    >
      <div class="p-2">
        <h3 class="text-center font-semibold">Devam Ediyor</h3>
      </div>
      <app-todo-card />
    </div>
    <div
      class="rounded-md flex flex-col gap-2 p-3 h-[300px] w-[30%] bg-emerald-200 overflow-y-auto"
    >
      <div class="p-2">
        <h3 class="text-center font-semibold">Bitti</h3>
      </div>
      <app-todo-card />
    </div>
  </div>
</div>
